In [1]:
from pathlib import Path
from datetime import datetime

import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, classification_report

In [2]:
data_path = Path("../data/raw")
train = pd.read_csv(data_path / 'train.csv')
test = pd.read_csv(data_path / 'test.csv')

print(train.shape, test.shape)
train.head(2)

(2838, 370) (939, 369)

,Year,Field ID,Field Area,Day 1,Day 2,Day 3,Day 4,Day 5,Day 6,Day 7,...,Day 358,Day 359,Day 360,Day 361,Day 362,Day 363,Day 364,Day 365,Day 366,Culture
0,2018,517,48.64,0.5369,0.5371,0.5375,0.5379,0.5384,0.5390,0.5397,...,0.4362,0.4322,0.4283,0.4243,0.4203,0.4163,0.4123,0.4084,NaN,4
1,2019,1395,80.41,0.1159,0.1096,0.1034,0.0971,0.0909,0.0846,0.0783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17

In [3]:
X_train = train.drop('Culture', axis=1)
y_train = train['Culture']
X_test = test.copy()

print(X_train.shape, X_test.shape, y_train.shape)

(2838, 369) (939, 369) (2838,)

In [4]:
%%time
imputer = KNNImputer(n_neighbors=9, weights="distance")
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

CPU times: user 15.3 s, sys: 974 ms, total: 16.3 s
Wall time: 14.2 s

In [5]:
model = RandomForestClassifier(random_state=0, n_estimators=100, max_depth=15, max_features = 'sqrt')
results = cross_val_score(model, X_train, y_train, cv=StratifiedKFold(5), scoring='f1_weighted')
print('Mean f1_weighted:', np.mean(results))

/home/isabella/code/study/ml_advanced/venv/lib/python3.7/site-packages/sklearn/model_selection/_split.py:672: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

Mean f1_weighted: 0.8759723790953131